{% extends 'base.html' %}

{% block title %}Tarefas | Recuperação efetivada{% endblock %}

{% block main %}
<div class="recover-account-container">
    <div class="recover-account-reset-pass-done"></div>
    
    <div class="recover-account-form-pass-done">
        <h3 class="title-text pt-2 text-center">Redefinição de senha completa</h3>
        <hr class="divisor">
        
        <p class="presentation-text pl-3 pr-3">Sua senha foi redefinida.</p>
        <p class="presentation-text pl-3 pr-3">Você pode prosseguir e se autenticar agora.</p>
        
        <div class="global-form">
            <a class="button-form-solid full" href="{% url 'authentication:logon' %}"><i class="fa-solid fa-key"></i> Proceder para Login</a>
        </div>
    </div>
</div>
{% endblock %}