{% extends 'base.html' %}

{% block title %}Tarefas | Recuperação de senha{% endblock %}

{% block main %}
<div class="recover-account-container">
    <div class="recover-account-reset"></div>

    <div class="recover-account-form-reset">
        <h3 class="title-text pt-2 text-center">Recuperar minha senha</h3>
        <p class="presentation-text pl-3 pr-3">Esqueceu a sua senha?</p>
        <p class="presentation-text pl-3 pr-3">Forneça o seu endereço de email de cadastro, e eu te envio um email com instruções para configurar uma senha nova.</p>

        <form class="global-form" method="post">
            {% csrf_token %}
            {{form}}
            <button class="button-form-solid full" type="submit"><i class="fa-solid fa-envelope"></i> Enviar e-mail</button>
        </form>
    </div>

</div>

<div class="grid-navigation">
    <a class="navigation-button" href="{% url 'home:index' %}"><i class="fa-solid fa-circle-arrow-left"></i></a> 
</div>
{% endblock %}