{% extends 'base.html' %}

{% block title %}Tarefas | Aviso de redefinição de senha{% endblock %}

{% block main %}
<div class="recover-account-container">
    <div class="recover-account-reset-done"></div>
    
    <div class="recover-account-form-reset-done">
        <h3 class="title-text pt-3 text-center">Uma redefinição de senha foi enviada!</h3>
        
        <p class="presentation-text pl-3 pr-3">Enviei um email com um link e instruções para você configurar sua senha.</p>
        
        <p class="presentation-text pl-3 pr-3">Tenha certeza que o email informado é o da sua conta, e você receberá a mensagem em breve.</p>
        
        <p class="presentation-text pl-3 pr-3">Se caso você não recebeu um email, por favor certifique-se de que você forneceu o endereço que você está cadastrado, e 
            verifique também a sua pasta de <span>spam</span>.</p>
    </div>
</div>
<div class="grid-navigation">
    <a class="navigation-button" href="{% url 'authentication:logon' %}"><i class="fa-solid fa-circle-arrow-left"></i></a> 
</div>    
{% endblock %}