{% load i18n %}{% autoescape off %}
{{ user.first_name }}{% blocktranslate %}, você está recebendo este e-mail porque solicitou uma redefinição de senha para sua conta de usuário em {{ site_name }}.{% endblocktranslate %}

{% translate "Por favor, vá para esta página do link abaixo e lá escolha uma nova senha:" %}
{% block reset_link %}
    {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}

{% translate 'Este é o seu email de usuário:' %} {{ user.email }} {% translate ', utilize-o com sua nova senha para fazer o login.' %}

{% translate "Obrigado por usar meu App!" %}

{% blocktranslate %}Suporte do: {{ site_name }}{% endblocktranslate %}

{% endautoescape %}
